@font-face {
    font-family: 'rocker';
    src: url('../fonts/NewRocker-Regular.ttf');
}

body {
    background-image: url('https://www.printawallpaper.com/upload/designs/music_background_d.jpg');
    background-size: cover;
    font-size: 20px;
}

#main {
    max-width: 800px;
    min-height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255,255,255,0.8);
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-family: rocker; 
}

div {
    text-align: center;
    margin: auto;
}

#timer {
    margin-bottom: 20px;
}

#question {
    margin-bottom: 20px;
}

#result {
    margin-bottom: 20px;
}

#stats {
    margin-top: -15px;
    margin-bottom: 20px;
}

#restart{
    max-width: 300px;
    background-color: green;
    color: white;
}

button {
    margin: auto;
    display: flex;
    justify-content: center;
}

.option {
    color: green;
    max-width: 300px;
}

.hover {
    color: red;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
}
